.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 25vh;
    padding: 7.85377rem 0;
    position: relative;
    z-index: 1;this oddly breaks dropdown menus*/
    /*background: #dd4056; /*this would override the background image with a solid color*/
}
.about:before, .about:after {
    content: "";
    display: table;
}
.about:after {
    clear: both;
}
.about .about__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about .about-content {
    max-width: 500px;
}
@media (min-width: 855px) {
    .about .about-content {
		margin-right: 3rem;
		flex: 1;
	}
}
.about:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url("../img/wov2.png"); /*this would add a pattern to the background*/
    opacity: 0.25;
}
.about__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5.23585rem;
}
.about__heading {
    padding: 2.61792rem 0;
    position: relative;
    z-index: 1; /*this oddly breaks dropdown menus*/
    text-align: center;
    letter-spacing: -.14544rem;
    color: white;
}
.about__skills {
    margin-bottom: 3.92689rem;
    opacity: 0;
    transform: translateY(50%);
    transition: all .45s cubic-bezier(0.23,  1,  0.32,  1);
}
.about__skills--active {
    transform: translateY(0);
    opacity: 1;
}
.about h2 {
    color: white;
}
.about ul li {
    font-size: 1.4rem;
}
.about__text {
    margin-bottom: 5.23585rem;
    position: relative;
    z-index: 1; /*this oddly breaks dropdown menus*/
    color: white;
}
.about__img {
    will-change: transform;
    opacity: 0;
    transform: scale(0.5);
    transition: all .45s cubic-bezier(0.23,  1,  0.32,  1);
}
.about__img--active {
    opacity: 1;
    transform: scale(1);
}
.about__img img {
    max-width: 100%;
    height: auto;
    border-radius: 35px;
}
@media (min-width: 640px) {
    .about__wrapper {
		padding: 0 5.23585rem;
	}
	.about__text-large {
		font-size: 2.148rem;
	}
}
@media (min-width: 768px) {
    .about {
		min-height: 25vh;
		padding: 10.4717rem 0;
	}
	.about__wrapper {
		padding: 0 5.23585rem;
	}
	.about__text-large {
		font-size: 2.618rem;
	}
}
@media (min-width: 960px) {
    .about {
    display: flex;
    align-items: center;
	}
	.about__text {
		margin-bottom: 7.85377rem;
		top: auto;
		left: auto;
	}
	.about__text-large {
		margin-bottom: 5.23585rem;
		font-size: 2.618rem;
	}
	.about__skills {
		margin-bottom: 0;
	}
	.about__img {
		transform: translate(0,  0%) scale(0.5);
	}
	.about__img--active {
		transform: translate(0,  0%) scale(1);
	}
}