/*unmified using https://mrcoles.com/blog/css-unminify/*/
body {
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: #dfe2f0;*/
  font-size: 1.618rem;
  color: #212121;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  /*background-color: red;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;/*#f9f9f9;*/ /*light shade of gray*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10; /*raised from 1, so to avoid about.css from breaking this*/
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd; /*a very light shade of gray*/
}

.dropdown:hover .dropdown-content {
  display: block;
}