body {
    padding-top: 3.25rem;
}
body.header-recirc-bar-enabled {
    padding-top: 9.1875rem;
}
@media (max-width: 37.4375rem) {
    body.header-recirc-bar-enabled.recirc-bar-mobile-disabled {
        padding-top: 3.25rem;
    }
}
@media (min-width: 37.5rem) {
    body.header-recirc-bar-enabled {
        padding-top: 9.875rem;
    }
}
@media (min-width: 48rem) {
    body {
        padding-top: 6.625rem;
    }
    body.header-recirc-bar-enabled {
        padding-top: 13.25rem;
    }
}
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; /*this is the key to keeping the site header on top*/
}

@media (min-width: 48rem) {
    .site-header__container {
        height: calc(6.625rem - 20px);
    }
}
.site-header__wrapper {
    background: #2d068f; /*controls the color of the site header*/
    color: #fff;
    /*height: 3.25rem;*/
    height: 6.625rem;
    max-height: 100%;
    position: relative;
    z-index: 299;
}
@media (min-width: 48rem) {
    .site-header__wrapper {
        height: 6.625rem;
    }
}
.site-header__container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 80.625rem;
    padding: 0.625rem 0.8125rem;
    position: relative;
}

@media (min-width: 48rem) {
    .site-header__container {
        max-width: 81.25rem;
        padding: 1.25rem;
    }
}