}.timeline {
    min-height: 100vh;
    background: #dfe2f0;
    font-family: 'Montserrat'}
.timeline:before, .timeline:after {
    content: "";
    display: table;
}
.timeline:after {
    clear: both;
}
@media (max-width: 640px) {
    .timeline {
    padding-top: 2rem;
}
}.timeline .c-button {
    color: black;
    border: 4px solid black;
    box-shadow: 6px 6px black;
}
.timeline .c-button svg {
    fill: #0D2296;
}
.timeline .c-button:hover {
    box-shadow: 0 0 #0D2296;
    background: black;
    color: #dfe2f0;
}
.timeline .c-button:hover svg {
    fill: black;
}
@media (min-width: 960px) {
    .timeline .c-button {
    margin-bottom: 0;
}
}.timeline__header {
    margin-bottom: 6.54481rem;
    color: #FAFAFA;
}
.timeline__header-link {
    display: inline-block;
    margin-right: 1.30896rem;
    color: black;
    font-size: 1.4rem;
    transition: all .45s cubic-bezier(0.23,  1,  0.32,  1);
}
.timeline__header-link:hover {
    color: black;
}
.timeline__section {
    margin-bottom: 2.61792rem;
    color: black;
}
.timeline__section:before, .timeline__section:after {
    content: "";
    display: table;
}
.timeline__section:after {
    clear: both;
}
.timeline__section-subtitle a {
    color: black;
}
.timeline__section-text {
    color: #FAFAFA;
}
.timeline__section-text a {
    color: black;
}
.timeline__list {
    margin-left: 2.61792rem;
}
.timeline__list li {
    color: #FAFAFA;
    font-size: 1.4rem;
}
.timeline .timeline__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 92%;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 7rem;
    margin-bottom: 7rem;
}
@media only screen and (max-width: 968px) {
    .timeline .timeline__wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
}.timeline .timeline-container {
    display: flex;
}
.timeline .timeline-container .work-history {
    width: auto;
    display: inline-block;
}
@media only screen and (min-width: 969px) {
    .timeline .timeline-container .work-history {
    margin-right: 80px;
}
}@media only screen and (max-width: 968px) {
    .timeline .timeline-container .work-history {
    width: 100%}
}.timeline .timeline-container .skills-container {
    width: auto;
    display: inline-block;
    padding-right: 10px;
}
@media only screen and (max-width: 968px) {
    .timeline .timeline-container .skills-container {
    width: 100%;
    padding-left: 22px;
}
}@media only screen and (max-width: 968px) {
    .timeline .timeline-container {
    flex-wrap: wrap;
}
}.timeline .page-title {
    margin: 0;
    padding: 0.6em 0;
    padding-top: 7rem;
    text-align: center;
}
.timeline .page-title i {
    display: block;
    font-size: 50px;
}
.timeline .section-title {
    margin: 2em 0;
    position: relative;
    z-index: 1;
}
.timeline .section-title.center {
    text-align: center;
}
.timeline .page-title+.section-title, .timeline .section-title:first-child {
    margin-top: 2em;
}
.timeline .section-title h2 {
    margin: 0;
    font-size: 11px;
    position: relative;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.2em;
    white-space: nowrap;
    text-align: center;
}
.timeline .section-title h2:after, .timeline .section-title h2:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: -0.5em;
    width: 2em;
    height: 100%;
    pointer-events: none;
}
.timeline .section-title h2:after {
    right: -1.57em;
    z-index: -1;
}
.timeline .section-title h2:before {
    bottom: auto;
    top: -0.5em;
    left: -1.57em;
    z-index: -1;
}
.timeline .section-title h2 i {
    display: inline-block;
    position: relative;
    padding: 0.8em 3em;
    font-style: normal;
    color: #fff; /*white*/
    background-color: black;
}
.timeline .section-title h2 i:after, .timeline h2 i:before {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -0.5em;
    left: -0.05em;
    pointer-events: none;
    -webkit-mask: none;
}
.timeline .event:after, .timeline .event:before, .timeline .process:after {
    content: ""}
.timeline .section-title h2 i:before {
    bottom: auto;
    top: -0.5em;
    border-bottom: 0.5em solid #080b0c;
    border-bottom: 0.5em solid rgba(8, 11, 12, 0.2);
    border-left: 0.5em solid transparent;
}
.timeline .section-title h2 i:after {
    left: auto;
    right: -0.05em;
    border-top: 0.5em solid #080b0c;
    border-top: 0.5em solid rgba(8, 11, 12, 0.2);
    border-right: 0.5em solid transparent;
}
.timeline .selectedText {
    display: none;
}
.timeline .service {
    padding: 0.2em 0;
}
.timeline .service i, .timeline .service img {
    display: inline-block;
    float: left;
    width: 50px;
    margin: 0;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
}
.timeline .service i:before {
    margin: 0 0.2em;
    display: inline-block;
}
.timeline .service p {
    margin-top: 0.2em;
    margin-left: 68px;
    font-size: 14px;
    line-height: 1.45;
    color: rgba(28, 38, 43, 0.5);
}
.timeline .service h4 {
    margin-top: 0;
    margin-left: 68px;
    margin-bottom: 0.3em;
    font-size: 12px;
}
.timeline .process {
    position: relative;
    text-align: center;
    width: 80px;
    height: 80px;
    padding: 16px 10px;
    margin: 0 auto 1.6em;
    border-radius: 0 14px 14px;
    color: #345;
    background: #fff; /*white*/
}
.timeline .process:after {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 120%;
    height: 0;
    border-bottom: 3px dashed #fff; /*white*/
}
.timeline .process i {
    font-size: 28px;
    line-height: 1;
}
.timeline .process img {
    max-width: 60%;
    margin: 0;
}
.timeline .process h4 {
    margin: 0;
    font-size: 10px;
}
.timeline .row [class^="col-"]:nth-child(3n) .process:after {
    display: none;
}
.timeline .fun-fact {
    padding-right: 1em;
    margin-bottom: 1.4em;
    text-align: center;
}
.timeline .fun-fact i {
    display: inline-block;
    margin-bottom: 12px;
    line-height: 1;
    font-size: 38px;
}
.timeline .fun-fact i:before {
    margin: 0 0.2em;
    display: inline-block;
}
.timeline .fun-fact img {
    max-width: 54px;
    margin: 0 0 8px;
}
.timeline .fun-fact span {
    display: block;
    max-width: 140px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
}
.timeline .client {
    margin: 1em 0;
    text-align: center;
}
.timeline .client img {
    margin: 0 auto;
    width: auto;
    max-height: 46px;
    display: block;
}
.timeline .event {
    position: relative;
    padding: 0 0 2em 2.4em;
}
.timeline .event:before {
    position: absolute;
    top: 25px;
    bottom: -25px;
    left: 14px;
    width: 4px;
    background: rgba(255, 255, 255, 0.5); /*grayish vertical line*/
}
.timeline .event:after {
    position: absolute;
    top: 25px;
    left: 9px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white; /*2nd of small bullet points*/
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
.timeline .event:nth-of-type(2):after {
    background-color: white; /*1st of small bullet points*/
}
.timeline .event h2 {
    margin-left: 40px;
    margin-bottom: 0.4em;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0;
    font-weight: 700;
}
.timeline .event h2+p i, .timeline .event h2+p img {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    top: -13px;
    left: -10px;
    width: 52px;
    line-height: 52px;
    margin: 0;
    z-index: 2;
    color: #fff; /*white*/
    background: black; /*huge 1st bullet point*/
    border-radius: 50%;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
.timeline .event h2+p i:before {
    margin: 0;
}
.timeline .event h2+p img {
    padding: 10px;
    border-radius: 4px;
}
.timeline .event b {
    display: block;
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 11px;
}
.timeline .event img {
    margin-right: 5px;
    width: 20px;
    position: relative;
    top: -2px;
}
.timeline .event span.date {
    display: inline-block;
    position: relative;
    padding: 3px 8px;
    font-size: 11px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0 0 1.5em;
    color: #fff;
    background: black;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 12px;
}
.timeline .event span.date:before {
    position: absolute;
    display: block;
    bottom: 0;
    border: 10px solid black;
    z-index: -1;
    left: -1.2em;
    border-right-width: 10px;
    border-left-color: transparent !important;
    height: 21px;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 3em;
}
.timeline .event:last-of-type:before {
    bottom: 4px;
}
.timeline .event span.job-title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 0.2em;
    padding: 0;
}
.timeline .event span.company-name {
    display: block;
    margin: 0;
    padding: 2px 0 0.3em;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(28, 38, 43, 0.35);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.timeline .event span.company-name img {
    width: auto;
    margin-right: 10px;
    height: 15px;
    position: relative;
}
.timeline .company-logo.rp {
    margin-bottom: -7px;
}
@media (max-width: 429px) {
    .timeline .company-logo.rp {
    margin-bottom: unset !important;
}
}@media (max-width: 429px) {
    .timeline .info {
    width: 250px;
}
}.timeline .event p {
    margin: 0.6em 0 0.2em;
    font-size: 15px;
}
.timeline .event p:last-child {
    margin-bottom: 0;
}
.timeline .skill-unit {
    padding-bottom: 1.1em;
    padding-right: 32px;
    padding-left: 36px;
}
.timeline .skill-unit i {
    margin-top: 8px;
    display: block;
    font-size: 10px;
}
.timeline .skill-unit p {
    font-weight: 400;
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    padding-left: 0;
}
.timeline .skill-unit p img {
    width: 30px;
    position: absolute;
    top: 4px;
    left: -44px;
}
.timeline .skill-unit .bar {
    position: relative;
    width: 100%;
    height: 8px;
}
.timeline .skill-unit .bar.active[data-percent="6"] .progress {
    width: 60% !important;
}
.timeline .skill-unit .bar.active[data-percent="7"] .progress {
    width: 70% !important;
}
.timeline .skill-unit .bar.active[data-percent="8"] .progress {
    width: 80% !important;
}
.timeline .skill-unit .bar.active[data-percent="9"] .progress {
    width: 90% !important;
}
.timeline .skill-unit .bar.active[data-percent="10"] .progress {
    width: 100% !important;
}
.timeline .skill-unit .bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    border-radius: 16px;
    -webkit-transition: width 1s ease-out;
    transition: width 1s ease-out;
}
.timeline .skill-unit .bar .progress span {
    position: absolute;
    top: -19px;
    left: 100%;
    margin-left: -2px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    width: 42px;
    line-height: 42px;
    color: #345;
    padding: 0 6px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    z-index: 1;
}
.timeline .section-title h2:after, .timeline .section-title h2:before {
    /*background-color: black;*/
}
.timeline .section-title h2:after {
    right: -1.57em;
    z-index: -1;
}
.timeline .section-title h2:before {
    bottom: auto;
    top: -.5em;
    left: -1.57em;
    z-index: -1;
}
.timeline .section-title h2:after, .timeline .section-title h2:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: -.5em;
    width: 2em;
    height: 100%;
    pointer-events: none;
}
.timeline .event span.date:before {
    position: absolute;
    display: block;
    bottom: 0;
    border: 10px solid black;
    z-index: -1;
    left: -1.2em;
    border-right-width: 10px;
    border-left-color: transparent !important;
}